/*  Estilos de logic.html */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: black;
    height: 20%;
    width: 100%;
    padding: 20px 40px;
}

nav {
    position: fixed;
    right: 0%;
    border: 1px solid grey;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: grey;
}

h1 {
    color: rgb(30, 239, 82);
}

h3 {
    color:white;
}

main {
    margin: 10px;
    position: relative;
}

h2 {
    text-align: center;
    vertical-align: middle;
    margin: 25px;
    padding: 5px;
}

iframe {
    display: block;
    margin:auto;
    margin-bottom: 25px;
}
